*, *::before, *::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	box-sizing: border-box;

}
body {
	margin: 0;
	font-family: 'PT Sans';
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    line-height: 2rem;
	color: #3f4a49;
	background: linear-gradient(0deg, rgb(245, 245, 245) 0%, rgb(255, 254, 254) 100%, rgba(255,255,255,1) 100%); }


/* Preview each of these suggested resets before beginning your project styling */

img {
	max-width: 100%;
	height: auto;
	vertical-align: bottom;
} 

ul, ol, dl {
	list-style: none;
	margin: 0;
	padding: 0;
} 

li > ul, li > ol {
	padding-left: 2.5em;
} 

input, button {
	margin: 0;
	font: inherit;
} 
fieldset {
	display: flex;
	margin: 0;
	padding: 0;
	border: none;
} 
legend {
	padding: 0;
	border: none;
} 
ul.ul {
	list-style-type: disc;
}
ol.ol {
	list-style-type: decimal;
}
ul.ul, ol.ol {
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 2.5em;
}
fieldset.fieldset {
	display: block;
	margin-inline-start: 0.125em;
	margin-inline-end: 0.125em;
	padding-block-start: 0.35em;
	padding-inline-start: 0.75em;
	padding-inline-end: 0.75em;
	padding-block-end: 0.625em;
	min-inline-size: min-content;
	border-width: 0.125em;
	border-style: groove;
	/* border-color: threedface; */
	border-image: initial;
}
legend.legend {
	display: block;
	padding-inline-start: 0.125em;
	padding-inline-end: 0.125em;
	border-width: initial;
	border-style: none;
	border-color: initial;
	border-image: initial;
}
h1 {
    
    font-weight: 400;
    font-size:  2rem;
   
    padding-bottom: 20px;
    line-height: 2rem;
    text-align: center;
    font-style: normal;
    text-transform: none;
    margin-top: 20px;
    letter-spacing: 0em;

}
h3{
    
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0em;
    text-transform: none;
    font-size: 1.5rem;
    text-align: center;
    line-height: 1.4;
}
 h2{
    font-size: 1.2rem;
    font-weight: 200;
    font-style: normal;
    letter-spacing: 0em;
    text-transform: none;
}


.page-header {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    background-color:  #971032;
    color:  #971032;

}
header img {
    width: 100%;
    height: 15em;
}

.hearo2{
    height: 20em;
    /* background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.9)), url("../img/pexels-mateusz-dach-3517928.jpg"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position:  center center;
}
.hearo2 p{
    text-align: left;
    position: absolute;
    top: 57px;
    right: 0;
    width: 86%;
    color:  #971032;
}
.hearo2 h1{
    text-align: center;
    position: absolute;
    top: 0px;
    right: 0;
    width: 100%;
    color:  #971032;
}

.btn{
    background-color: unset;
    color:  #971032;
    border: 1px solid  #971032;
    padding: 0px 10px;
    cursor: pointer;
}
.content{
    position: relative;
    top: 4em;
    width: 400px;
    height: 200px;
}

.hearo2 button{
    text-align: center;
    position: absolute;
    top: 60%;
    right: 0;
    transform: translate(-50%, -50%);
}
header  a{
    color:  #971032;
    text-decoration: none;
}

#find {
    width: 70%;
    margin-top: 15px;
    border-radius: 11px;
    margin-left: 19px;
    margin-bottom: 15px;
    text-align: center;
}
.menu a {
    color: white;
    
    text-decoration: none;
    font-size: 17px;
}

.navigation #menu{
    display: none;
}
.menu{
    
    position: relative;
    display: inline-block;
}


.menu:hover .submenu{
    display: contents;
}

.submenu{
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* fff */
.filter-options{
    display: block;
    background-color:#000000;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0px 0px 0px;
}
#filter{
    display: none;
}
.icon{
    color: #000000;
    margin-right: 14px;
    padding-top: 18px;
}
.iconfilter{
    color: #3399ff;
    border: 1px solid;
    padding: 3px;
    margin-left: 20px;
    font-size: 0.7em;
}
#sort {
    width: 79%;
    padding-left: 10px;
    margin-left: 10px;
}

   


.logo{
    grid-column: 1;
    grid-row:1;
}
.logo img{
    width: 50px;
    height: unset;
}
.nav-toggle{
    grid-column: 4;
    grid-row:1;
}

.search{
    grid-row: 1 / span 4;
}
.navigation{
    grid-row: 3 / span 4;
    
}
/* Solid border */
hr.solid {
    border-top: 0.5px solid #bbb;
  }
.your-products{
    grid-row: 1;
    grid-column: 3;
    margin-top: 10px;
    position: absolute;
top: 10px;
right: 46px;
}
.filter-list{
    display: flex;
}
.hedin{
    display: none;
}
.rating {
    display: block;
    color: #ee1;
}
.products, .page-header, .page-footer{
    padding: 0px;
}
/* .your-products{
    display: flex;
} */

.pagination{
    text-align: center;
}
.pages{
    display: flex;
    justify-content: center;
}
.pages > li{
    margin: 4px;
}

.social, .legal{
    display: flex;
    justify-content: center;
    margin-top: 5xp;
}
.legal li a {
color: #000000;
padding-left: 20px;
}
.copyright{
    text-align: center;
}


/* footer */
.pages li {
    background: #e3e3e3;
    border-radius: 11px;
    /* width: 35px; */
    border: 1px solid #ddd;
    color: #fff;
}
.pages li a {

    color: #fff;
}
.page-footer{
    background-color:#971131;
    color: #971131;
}
.social{
    padding-top: 10px;
}
.social li i{
    color: #241717;
    align-items: center;
    font-size: 30px;
    padding-left:10px ;

}